@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Biryani');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/


/** ---------- Global Styles ---------- **/
* {
  box-sizing: border-box;
}
body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/** ---------- Header Styles ---------- **/
header {
  box-shadow: 0px 4px 4px rgba(159, 155, 155, 0.25);
  height: 46px;
  width: 100%;
  padding: 0vh 10vh;
}
.header-nav {
  float: right;
  padding: 1.5vh 15px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 0.8em;
}
.header-nav > li ~ li {
  padding-left: 1em;
}
.header-nav a {
  text-decoration: none;
}
.nav-links a {
  color: #4E5051;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: normal;
}
#last {
  color: #4FA748;
}

/** ---------- Header Menu Styles ---------- **/
.header-menu {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 3px;
}
/* Logo -> Header Menu Styles */
.header-menu .site-logo {
  display: block;
}
.header-menu .site-logo a {
  color: #4E5051;
  font-style: oblique;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 2vh;
}
/* Search -> Header Menu */
.header-menu .site-search-area {
  display: inline-block;
  padding-left: 3px;
  width: 50%;
}
.search {
  font-size: 16px;
  position: relative;
}
.search .fas {
  color: #BDBDBD;
  left: 10px;
  position: absolute;
  padding: 5px;
  top: 3px;
}
.search input[type=text],
.search input[type=submit] {
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  padding: 5px 10px;
}
.search input[type=text] {
  background: #F2F2F2;
  border: none;
  color: #BDBDBD;
  font-size: 10px;
  letter-spacing: 0.04em;
  padding: 9px;
  text-indent: 32px;
  transition: all 0.5s ease-in-out;  
  width: 80%;
}
.search input[type=submit] {
  background: #F3D347;
  border: 1px solid transparent;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* Notification -> Header Menu */
.site-notification-area {
  float: right;
}
.site-notification-area a {
  color: #000000;
  padding-right: 20px;
  text-decoration: none;
}

/** ---------- Main Content Styles ---------- **/
.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
/* Service -> Main Content */
.service {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  margin: 2vh;
  padding-top: 3vh;
  padding-right: 5vh;
}
/* Service -> Hero Content */
.service-category {
  box-shadow: 0px 4px 4px rgba(133, 128, 128, 0.25);
  flex: 1;
  font-family: 'Source Sans Pro';
  margin-right: 20px;
}
.service-category h1 {
  background: #4FA748;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  height: 46px;
  letter-spacing: 0.04em;
  line-height: normal;
  padding: 20px;
  text-transform: uppercase;
}
.service-category ul {
  list-style: none;
}
.service-category a {
  color: #757575;
  display: block;
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  padding: 20px;
  letter-spacing: 0.04em;
  text-decoration: none;
}
.service-category > a ~ a {
  box-shadow: 0px 4px 4px rgba(133, 128, 128, 0.25);  
}
.service-category a span {
  float: right;
}
/* -> Hero */
.service-callout {
  background-color: #bcbab8;
  background-size: cover;
  flex: 2;
  height: 100%;
}
.service-hero {
  background-image: url(Bolas01.jpg);
  background-position: center top;
  opacity: 1;
  transition: all 0.8s ease-in-out;
}
.hero-content {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  margin-left: 30px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: 60%;
}
.hero-content h1 {
  font-size: 42px;
  letter-spacing: 0.0214286em;
  line-height: 30px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.hero-content p {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0214286em;
  line-height: 16px;
  margin-bottom: 2.5em;
  text-align: left;
}
.hero-content a {
  border: 2px solid #F3D347;
  border-radius: 3px;
  color: #F3D347;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0214286em;
  line-height: 30px;
  margin-top: 1em;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
/* Gallery ->  */
.explore {
  border: 0.25px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(133, 128, 128, 0.25);
  font-family: 'Source Sans Pro';
  font-style: normal;
  overflow: hidden;
}
.explore h2 {
  border-bottom: 0.75px solid #E5E5E5;
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.0214286em;
  line-height: 30px;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}
/* Gallery -> Feature */
.feature-wrapper {
  display: flex;
  margin: 25px;
  width: 100%;
}
.feature {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: normal;
  padding: 10px;

}
.feature h6 {
  color: #4E5051;
  letter-spacing: 0.04em;
  margin-top: 3px;
}
.feature-rating {
  margin-top: 3px;
}
.ratings .fas {
  color: #F3D347;
}
.feature-pricing {
  display: inline-block;
  margin-top: 3px;
  width: 100%;
}
.feature-pricing > p > span {
  float: right;
}
#price-old {
  color: #909293;
  text-decoration: line-through;
}
#price-current {
  color: #373A3C;
}

/** ---------- Footer Styles ---------- **/
footer {
  background: #373A3C;
  color: #909293;
  display: flex;
  justify-content: space-around;
  padding: 5vh 15vh;
}
/* Callout -> Footer Styles */
.links-callout {
  flex: 1;
  padding: 10px 15px;
}
.links-callout h1 {
  color: #909293;
  font-family: 'Biryani';
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.04em;
  line-height: normal;
  text-transform: uppercase;
}
.links-callout p {
  color: #909293;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.04em;
}
/* links -> Footer Styles */
.links-info {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  padding: 10px 15px;
}
.links {
  color: #909293;
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  line-height: 24px;
  text-align: left;
}
.links > h4 {
  font-size: 14px;
  font-weight: 600;
}
.links > h4 > span {
  margin-left: 4px;
}
.links > ul {
  list-style: none;
  margin: 2px;
}
.links a {
  color: #909293;
  text-decoration: none;
}
.social-list {
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}
/* Copyright -> Footer Styles */
.copyright {
  align-items: center;
  background: #2B2F31;
  display: flex;
  justify-content: center;
  height: 66px;
  text-align: center;
}
.copyright > p {
  color: #F5F5F5;
  font-family: 'Source Sans Pro';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
}
